# AI Tools
CURSOR_AGENT_BIN=/home/tib/.local/bin/cursor-agent
CURSOR_API_KEY=lll
CLAUDE_BIN=/home/tib/.local/bin/claude
CODEX_BIN=/home/tib/.npm-global/bin/codex
KILO_BIN=/home/tib/.local/bin/kilo
OPENCODE_BIN=/home/tib/.local/bin/opencode
GEMINI_API_KEY=lll
GEMINI_BIN=/home/tib/.local/bin/gemini


# Path della cartella da esplorare col file browser 
HOST_VOLUME=/home/tib/progetti
BASE_CODE_PATH=/home/tib/progetti
HOST_HOME=/home/tib
HOST_USER=tib

# Container user
CONTAINER_USER=tib
CONTAINER_UID=1000

# Django
SECRET_KEY=cambia-questa-stringa-con-qualcosa-di-random
DEBUG=False
ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=True

DB_ENGINE=mysql

# Database mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=riouser
MYSQL_PASSWORD=RioPass#2024
MYSQL_DATABASE=rioactio



# Celery / Redis (non cambiare se usi il redis del compose)
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Path assoluto della cartella dove è clonato il repo (es. /home/tib/rio)
COMPOSE_PROJECT_PATH=/home/tib/git/rio
